services:
  bot:
    container_name: saga-workflow-bot
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
volumes:

networks:
  default: {}
